
@font-face {
  font-family: 'Overpass', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body {
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #A29C9B;
  /* height: 100%; */
  min-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.creature-battle {
  display: block;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 40px;
  color: #03120E;
  width: 100%;
}

.game-screen {
  position: relative;
  margin: 0;
  /* transform: translateY(-50%); */
}

.game-screen #myCanvas, .front-image-layer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#myCanvas {
  border: 3px solid #3E505B;
  background-color: #4F6379;
}

.back-image-layers-hills {
  /* background from https://edermunizz.itch.io/free-pixel-art-hill */
  background-image: url('./hillsBackground/HillsLayer06.png'),
                    url('./hillsBackground/HillsLayer05.png'),
                    url('./hillsBackground/HillsLayer04.png'),
                    url('./hillsBackground/HillsLayer03.png'),
                    url('./hillsBackground/HillsLayer02.png'),
                    url('./hillsBackground/HillsLayer01.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

.back-image-layers-forest {
  /* background from https://edermunizz.itch.io/free-pixel-art-forest */
  background-image: url('./forestBackground/Layer_0000_9.png'),
                    url('./forestBackground/Layer_0001_8.png'),
                    url('./forestBackground/Layer_0002_7.png'),
                    url('./forestBackground/Layer_0003_6.png'),
                    url('./forestBackground/Layer_0004_Lights.png'),
                    url('./forestBackground/Layer_0005_5.png'),
                    url('./forestBackground/Layer_0006_4.png'),
                    url('./forestBackground/Layer_0007_Lights.png'),
                    url('./forestBackground/Layer_0008_3.png'),
                    url('./forestBackground/Layer_0009_2.png'),
                    url('./forestBackground/Layer_0010_1.png');


  background-repeat: repeat;
  background-size: 100% 100%;
}

.front-image-layers-hills {
  /* background from https://edermunizz.itch.io/free-pixel-art-hill */
  background-image: url('./hillsBackground/HillsLayer06.png');

  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.front-image-layers-forest {

  background-size: cover;
}

.game-space {
  height: 500px;
  position: relative;
  margin: 0;
  top: 50%;
}

.instructions {
  padding-top: 20px;
  width: 20%;
  float: left;
  font-family: 'Arial';
  font-style: italic;
  color: black;
  text-align: right;
}


footer {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}