
@font-face {
  font-family: 'Overpass', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
/* Color pallette: */
/* https://coolors.co/2a4d14-a62639-db324d-56494e-a29c9b */
/* color: #2A4D14;
color: #8AB0AB;
color: #3E505B;
color: #03120E;
color: #A29C9B; */
body {
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #A29C9B;
}

.creature-battle {
  display: block;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 40px;
  color: #03120E;
}

.game-screen {
  position: relative;
}

.game-screen #myCanvas, .front-image-layer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#myCanvas {
  border: 3px solid #3E505B;
}

.back-image-layers {
  /* background from https://edermunizz.itch.io/free-pixel-art-hill */
  background-image: url('./hillsBackground/HillsLayer05.png'),
                    url('./hillsBackground/HillsLayer04.png'),
                    url('./hillsBackground/HillsLayer03.png'),
                    url('./hillsBackground/HillsLayer02.png'),
                    url('./hillsBackground/HillsLayer01.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

.front-image-layer {
  /* background from https://edermunizz.itch.io/free-pixel-art-hill */
  background-image: url('./hillsBackground/HillsLayer06.png');

  /* background-repeat: no-repeat; */
  background-repeat: repeat-x;
  background-size: cover;
  height: 500px;
  width: 800px;
  z-index: 2;
}

.game-space {
  /* display: flex; */
  /* justify-content: center; */
  height: 500px;
}


footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}